<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.realestate">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.RealEstate"
        android:supportsRtl="true">

        <!-- Launcher / Entry Activity -->
        <activity
            android:name="activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities -->
        <activity android:name="activities.SignupActivity" android:exported="false"/>
        <activity android:name="activities.HomeActivity" android:exported="false"/>
        <activity android:name="activities.PropertyDetailActivity" android:exported="false"/>
        <activity android:name="activities.PropertyDetailsActivity" android:exported="false"/>
        <activity android:name="activities.SettingsActivity" android:exported="false"/>
        <activity android:name="activities.AdminDashboardActivity" android:exported="false"/>
        <activity android:name="activities.AddPropertyActivity" android:exported="false"/>
        <activity android:name="activities.EditPropertyActivity" android:exported="false"/>
        <activity android:name="activities.ChatActivity" android:exported="false"/>
        <activity android:name="activities.ProfileActivity" android:exported="false"/>

    </application>

</manifest>
